################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/uris-2025-26-project-assignment-treningcentar_tim_3/FileContentIndex/4afc958e-b71e-4bd6-8abb-3acc8b921ec6.vsidx
/.vs/uris-2025-26-project-assignment-treningcentar_tim_3/FileContentIndex/62cb9725-b5f4-4d23-8aa2-9e88cb008c67.vsidx
/.vs/uris-2025-26-project-assignment-treningcentar_tim_3/FileContentIndex/bd8e70a7-74c6-4f3b-a287-72a260511e33.vsidx
/.vs/uris-2025-26-project-assignment-treningcentar_tim_3/FileContentIndex/c844bd2d-ef25-4ef6-adf0-10bf070f87c4.vsidx
/.vs/uris-2025-26-project-assignment-treningcentar_tim_3/FileContentIndex/7f2dee50-9ab0-4172-ac20-34a6f0a1eae0.vsidx
/AuthService/.vs/AuthService/FileContentIndex/59259173-6dd3-4b6f-9c90-bc1411b3a69f.vsidx
/AuthService/.vs/AuthService/FileContentIndex/60165d5b-2575-443d-a468-235b35f79d21.vsidx
